<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabelas</title>
</head>
<body>    
    <table>
        <thead>
            <%header.forEach(coluna=>{%>
                <th><%= coluna%></th>
            <%})%>
        </thead>
        <tbody>
            <%rows.forEach(row=>{%>
                <tr>
                    <% row.forEach(element=>{ %>
                        <td><%= element%></td>
                 <% }) %>
                </tr>
           <% }) %>
        </tbody>
    </table>
</body>
</html>
<!--O ejs é usado aqui para criar toda a estrutura do arquivo html, com seus elementos colocados em ordem e a função forEach para percorrer todas as linhas da tabela-->